@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--border-color: rgba(23, 23, 23, 0.2);
	--hover-bg: rgba(23, 23, 23, 0.1);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
		--border-color: rgba(237, 237, 237, 0.2);
		--hover-bg: rgba(237, 237, 237, 0.1);
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
